/*.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}*/

.refresh-spin {
    animation: refresh-spin infinite 1s linear;
}

/*@media (prefers-reduced-motion: no-preference) {
    // leads to no-spin when FF uses too much RAM
}*/

#root {
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
.App-main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 900px;
    margin: 12px auto;
    padding: 0 18px;
    min-height: 60vh;
}*/

.hide-sm {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*
@media (min-width: 800px) {
    .App-main {
        min-height: auto;
    }
}*/

@media (min-width: 400px) {
    .hide-sm {
        position: static;
        width: initial;
        height: initial;
        padding: initial;
        margin: initial;
        overflow: initial;
        clip: initial;
        border: initial;
    }
}

/*
.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 12px auto;
    overflow: auto;
    width: 100%;
    flex-shrink: 0;
}*/


@keyframes refresh-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    background: transparent;
    transition: 0.4s ease-out background-color;
}

button:hover {
    background: rgba(20, 20, 20, 0.1);
}

button:focus {
    background: rgba(20, 20, 20, 0.25);
    transition: 0.15s ease-out background-color;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
