body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-spaces;
    line-height: 1.75;
    padding: 8px 8px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
    padding: 2px 2px
}

td > code {
    display: inline-block;
}

td > code:first-child:last-child {
    margin-bottom: 0;
}

input[type="number"].no-spin::-webkit-outer-spin-button,
input[type="number"].no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].no-spin {
    -moz-appearance: textfield;
}

blockquote:before {
    content: "“";
    position: absolute;
    font-size: 3rem;
    line-height: 2rem;
    opacity: 0.6;
    left: 6px;
}

nav:first-child + h1,
nav:first-child + h2,
nav:first-child + h3,
nav:first-child + h4,
nav:first-child + h5,
nav:first-child + h6,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0 !important;
}

h1 + .MuiPaper-root,
h2 + .MuiPaper-root,
h3 + .MuiPaper-root,
h4 + .MuiPaper-root,
h5 + .MuiPaper-root,
h6 + .MuiPaper-root {
    margin-top: -12px !important;
}
